# Ignore virtual environment
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
*.env

# OS / editor files
.DS_Store
.vscode/
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Transaction data
data/

# Model weights
classifiers/model_weights/

classifiers/predictions/

api/models/